[Unit]
Description=Programa de Captura de Camara Web

[Service]
EnvironmentFile=/home/root/arguments.env
ExecStart=/home/root/Test.elf $DIRECCION_IP $PUERTO $ANCHO_IMAGEN $ALTO_IMAGEN
User=root
Restart=always
RestartSec=5
WorkingDirectory=/home/root/

[Install]
WantedBy=multi-user.target